<script>
ShopifyApp.pushState("apps/testing-183/api/products");
</script>
<div class="entry">
  <div class="body">
    <form action="api/products" method="post">
      <input type="submit" value="submit"/>
    </form>
  </div>
</div>

{{{toJSON data }}} 
