<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="custom navbar-header">
      <a class="navbar-brand" href="/">HCBI</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/hs">HC Import</a></li>
    </ul>
  </div>
</nav>